/* Fonts */
@font-face {
    font-family: "Gabarito", sans-serif;
    font-family: "Rubik", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Gabarito&family=Rubik:wght@300&display=swap);
  }
  
  :root {
    --sand: #fdb058;
    --yellow: #ffbb1c;
    --blue: #93d3df;
    --linen: #fdefe4;
    --wolf: #e0d3cc;
    --violet: #473950;
  }

  /* General rules */
  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
  }
  
  html {
    font-size: 15px;
  }
  
  body {
    background: url(../assets/fondo3.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  
  /* Header */
  header {
    font-family: "Gabarito", sans-serif;
    background-color: #4a6a7099;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 80px;
    width: 100%;
  }
  
  header h1 {
    color: var(--blue);
    text-shadow: 4px 4px 3px #0009;
    font-size: 40px;
    margin: 0 10px 0;
  }
  
  #icons {
    display: flex;
    position: absolute;
    right: 5px;
  }
  
  #icons img {
    margin: 0 5px;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
  
  /* Main */
  main {
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  #ranking {
    margin: 10vh 10vw;
    font-weight: 1000;
  }

  td, th {
    text-align: center;
    width: 20vw;
  }

  th {
    padding: 20px;
    font-size: 1.5rem;
  }

  td {
    font-size: 1.2rem;
    text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white;
  }

  caption {
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 40px black, 0 0 40px black, 0 0 40px black;
  }

  #rank {
    color: black;
    text-shadow: 0 0 20px yellow, 0 0 20px yellow, 0 0 20px yellow;
  }

  #user {
    color: var(--blue);
    text-shadow: 0 0 20px blue, 0 0 20px blue, 0 0 20px blue;
  }

  #score {
    color: black;
    text-shadow: 0 0 20px red, 0 0 20px red, 0 0 20px red;
  }

@media screen and (min-width: 600px) and (max-width: 1200px) {
  html {
    font-size: 25px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 35px;
  }
}
  